[project]
	description = repo Janusza
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/eszejan
[access "refs/for/refs/*"]
	read = group user/eszejan
	push = group user/eszejan
	label-Code-Review = -2..+2 group user/eszejan
	label-Verified = -1..+1 group user/eszejan
	rebase = group user/eszejan
	removeReviewer = group user/eszejan
	submit = group user/eszejan
[access "refs/heads/*"]
	read = group user/eszejan
	create = group user/eszejan
	push = +force group user/eszejan
	pushMerge = group user/eszejan
[access "refs/tags/*"]
	push = +force group user/eszejan
	pushTag = group user/eszejan
	pushSignedTag = group user/eszejan
